 <!DOCTYPE html>
<html>
<head>
    {% block head %}

<title>Seans feedreader</title>
    <link rel="stylesheet" href="templates/style.css" />
    {% endblock %}
</head>

<body >
    <header>
        <ul id="navwindow">
            <li> <a href=#shit>>shit</a>
            </li>
            <li>
                <a href=ass.com> li</a>
            </li>
            <li> <a href=#hi>lol</a></li>

        </ul>
    </header>

    <nav>
        <ul>
            <ul><a href=#>ho</a></ul>
            <ul><a href=#>hissssssss</a></ul>
            <ul
        </ul>

    </nav>
    <div id="shit">
        <h3>hi</h3>
        </div>

    <div id="content">
        <p>{{stuff}}<p>
        <div id="stuff">
            <p>Welcome to Sean reader . Please login below </p>
            <p>This is line 2 </p>
        </div>
      <div>
        <p>this is where the login box will go s</p>


                </div>
    </div>




</body>

</html>
